$colors: (
  ash: #f9f8fa,
  black: #000,
  dark: #1d1d1d,
  dark-purple: #6e5987,
  grey: #656565,
  light-grey: #eee,
  primary: #501e96,
  primary-dark: #301254,
  secondary: #28d7dc,
  red: #f00,
  white: #fff
);

$font-weights: (
  regular: 400,
  medium: 500,
  bold: 700
);

$font-sizes: (
  xx-small: 0.5625rem,
  x-small: 0.75rem,
  small: 0.875rem,
  regular: 1rem,
  medium: 1.125rem,
  large: 1.5rem,
  m-large: 1.875rem,
  x-large: 2.1875rem
);

// mobile first

$break-points: (
  // large mobile phones
  extra-small: 0,
  // small tabs or phablets
  small: 600px,
  // tabs and ipads
  medium: 900px,
  // large tabs / large ipads / small laptops
  large: 1200px,
  // laptops / desktops
  extra-large: 1536px
);

$device-sizes: (
  xs: 'extra-small',
  sm: 'small',
  md: 'medium',
  lg: 'large',
  xl: 'extra-large'
);

$sides: (top, bottom, left, right);
