/* stylelint-disable font-family-name-quotes */
// Circular font family

@font-face {
  font-family: 'Kyn';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/kyn/Kyn-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Kyn';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/kyn/Kyn-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Kyn';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/kyn/Kyn-Bold.woff2') format('woff2');
}
