h1,
h2,
h3 {
  @include font-weight(bold);

  font-size: 2rem;
  line-height: 1.25;

  @include respond(large) {
    font-size: 3.125rem;
    line-height: 1.04;
  }
}

h4,
h5,
h6 {
  @include font-size(large);
}

p,
li,
a {
  @include font-weight(regular);
  @include font-size(medium);

  letter-spacing: 0.2px;
  line-height: 1.6;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}
